/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;1,500&display=swap");

$bgColor: #131722;
$lightBgColor: #24baef;
$bgTrans: rgba(36, 186, 239, 0.6);
$fontColor: #fff;
$headerColor: #fff;
$borderColor: #a8a8a83d;
$borderHeight: 1px;
$secondFontColor: #949cb0;

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: $bgColor;
  color: $fontColor;
}
a {
  font-size: 18px;
  color: $fontColor;
  text-decoration: none;
}
